In [1]:
import spacy
nlp = spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [5]:
doc = nlp("Tesla Inc is going to acquire twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

ORG  |  Companies, agencies, institutions, etc.
MONEY  |  Monetary values, including unit

In [7]:
from spacy import displacy

displacy.render(doc, style="ent")

In [9]:
doc = nlp("Michael Bloomberg founded Bloomberg in 1982")
for ent in doc.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg | GPE | Countries, cities, states
1982 | DATE | Absolute or relative dates or periods

# Setting custom entities

In [20]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_,"|" , spacy.explain(ent.label_))

Tesla  |  ORG | Companies, agencies, institutions, etc.
Twitter  |  PERSON | People, including fictional
$45 billion  |  MONEY | Monetary values, including unit

In [ ]:
# we create our own NER system in which we declare twitter as a company which our pre trained NER system not identify

In [22]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label="ORG")
s2 = Span(doc, 5, 6, label="ORG")

doc.set_ents([s1, s2], default="unmodified")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY

In [24]:
# Next part related to NER

In [26]:
# Extract all the Geographical (cities, Countries, states) names from a given text

In [28]:
text = """Kiran want to know the famous foods in each state of India. So, he opened Google and search for this question. Google showed that
in Delhi it is Chaat, in Gujarat it is Dal Dhokli, in Tamilnadu it is Pongal, in Andhrapradesh it is Biryani, in Assam it is Papaya Khar,
in Bihar it is Litti Chowkha and so on for all other states"""

In [30]:
doc = nlp(text)

In [32]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Kiran  |  GPE  |  Countries, cities, states
India  |  GPE  |  Countries, cities, states
Google  |  ORG  |  Companies, agencies, institutions, etc.
Google  |  ORG  |  Companies, agencies, institutions, etc.
Delhi  |  GPE  |  Countries, cities, states
Chaat  |  ORG  |  Companies, agencies, institutions, etc.
Gujarat  |  GPE  |  Countries, cities, states
Dal Dhokli  |  PERSON  |  People, including fictional
Tamilnadu  |  GPE  |  Countries, cities, states
Pongal  |  PERSON  |  People, including fictional
Andhrapradesh  |  GPE  |  Countries, cities, states
Biryani  |  PERSON  |  People, including fictional
Assam  |  GPE  |  Countries, cities, states
Papaya Khar  |  PERSON  |  People, including fictional
Bihar  |  GPE  |  Countries, cities, states
Litti Chowkha  |  ORG  |  Companies, agencies, institutions, etc.

In [34]:
for ent in doc.ents:
    if ent.label_ == "GPE":  # Check if the entity is a Geopolitical Entity
        print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Kiran  |  GPE  |  Countries, cities, states
India  |  GPE  |  Countries, cities, states
Delhi  |  GPE  |  Countries, cities, states
Gujarat  |  GPE  |  Countries, cities, states
Tamilnadu  |  GPE  |  Countries, cities, states
Andhrapradesh  |  GPE  |  Countries, cities, states
Assam  |  GPE  |  Countries, cities, states
Bihar  |  GPE  |  Countries, cities, states

In [36]:
# Extract all the birth dates of cricketers in the given Text

In [38]:
text = """Sachin Tendulkar was born on 24 April 1973, Virat Kholi was born on 5 November 1988, Dhoni was born on 7 July 1981
and finally Ricky ponting was born on 19 December 1974."""

doc = nlp(text)

In [40]:
# Extract and print birth dates
print("Birth Dates of Cricketers:")
for ent in doc.ents:
    if ent.label_ == "DATE":
        print(ent.text)

Birth Dates of Cricketers:
24 April 1973
5 November 1988
7 July 1981
19 December 1974